HTTP_PORT=:8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mysecretpassword
DB_NAME=nexus-chain
DB_SSLMODE=disable

RABBITMQ_ENABLED=true
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=nexus.events
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_DURABLE=true
RABBITMQ_QUEUE=nexus.events.queue