HTTP_PORT=:8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mysecretpassword
DB_NAME=nexus-chain
DB_SSLMODE=disable

RABBITMQ_ENABLED=true
RABBITMQ_URL=http://localhost:5672
RABBITMQ_EXCHANGE=nexus-chain
RABBITMQ_EXCHANGE_TYPE=fanout
RABBITMQ_DURABLE=true
RABBITMQ_QUEUE=nexus-chain-queue